html
    head
        title CRUD dengan nodejs
        link(rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css")
    body
        nav.nav.navbar-default
            div.container
                a.navbar-brand Welcome to Kopdar Nodejs
                ul.nav.navbar-nav.pull-right
                    li
                        a(href="/") Home
                    li
                        a(href="/buku") Buku
        block content
        div
            center footer Kopdar CRUD nodejs